.address-list {
    @extend %list;    
}
.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.address-list__link {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    text-decoration: none;
    
    transition: color $prime-transition-timing-function $prime-animation;
    
    &--white {
        color: $second-accent-color;
    }
    
    &:hover,
    &:focus {
            color: $accent-color;
    }
}
