.form-titel {
    margin-top: 0;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1.16;

    letter-spacing: 0.01em;
    color: $primery-text-color;
}

.form-label[for="nik"] {
    margin-top: 0;
}

.modal-input {
    width: 100%;
    height: 40px;

    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 30px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color $prime-animation $prime-transition-timing-function;
}

.form-field .icon-absolute {
    position: relative;
    margin-top: 4px;
}

.modal-form-icon {
    position: absolute;

    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    transition: fill $prime-animation $prime-transition-timing-function;
}

.form-textarea {
    width: 100%;
    height: 138px;
    padding: 12px 16px;
    margin-top: 4px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    resize: none;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    transition: border-color $prime-animation $prime-transition-timing-function;
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus,
.form-textarea:focus {
    outline: none;
    border-color: $accent-color;
}

.icon-absolute:focus-within>.modal-form-icon {
    fill: $accent-color;
}

.checkbox-field {
    position: relative;
    margin-top: 20px;

    justify-content: center;
}

.icon-position {
    position: absolute;

    top: 50%;
    left: 11px;
    transform: translateY(-55%);

    display: block;

    width: 16px;
    height: 15px;

    border: 2px solid #212121;
    border-radius: 2px;
    pointer-events: none;

    transition: border-color $prime-animation $prime-transition-timing-function;
}

.checkbox-icon {
    display: block;
    width: 100%;
    height: 100%;
    fill: $second-accent-color;
}

.checkbox:checked + .icon-position {
    background-color: $accent-color;
    border: none;
}

.checkbox:focus + .icon-position {
    border-color: $accent-color;
    outline: 1px solid #212121;
}

.checkbox-text {
    @include centredFlex(flex, center, null);
    
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $primery-text-color;
}

.checkbox-text a {
    margin-left: 3px;
    color: $accent-color;
    text-decoration: none;
}

.contract .underline {
    display: inline-block;
    line-height: 0.85;
    border-bottom: 1px solid;
}

.modal-button {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}