.client-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.client-list__item {
    width: calc((100% - 30px) / 2);
    height: 92px;

    @include tablet {
        width: calc((100% - 60px) / 3);
    }
    @include desktop {
        width: calc((100% - 150px) / 6);
    }        
}

