.client-link {
    @include centredFlex(flex, center, center);

    width: 100%;
    height: 100%;
    
    outline: transparent;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: #afb1b8;
    
    transition: color $prime-animation $prime-transition-timing-function,
            border $prime-animation $prime-transition-timing-function;
    
    &__icon {
        fill: currentColor;
    }
    &:hover,
    &:focus {
        color: $accent-color;
        border: 1px solid $accent-color;
    }
}