.contacts {
    @extend %list;
    display: flex;
    margin-left: auto;
}

.contacts__item:not(:first-child) {
    margin-left: 30px;
}

.contacts__link {
    @include centredFlex(flex, center, center);
    padding-top: 32px;
    padding-bottom: 32px;

    color: $primery-text-color;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    text-decoration: none;

    transition: color $prime-animation $prime-transition-timing-function;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}