.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2f303a;
}
.footer__content {	
	@include desktop {
		display: flex;
		align-items: baseline;
	}	
}
.footer__adaptive-container {
	text-align: center;
	margin-bottom: 60px;
	@include tablet {
		display: flex;
		justify-content: center;
		align-items: baseline;						
	}
	@include desktop {
		margin-bottom: 0;		
	}	
}
.footer__logo-centred {
	margin-bottom: 60px;
	@include tablet {
		margin-bottom: 0;
		margin-right: 165px;
	}
	@include desktop {
		text-align: start;
		margin-right: 70px;
	}
}
.footer__titel {
	@extend %text;

	margin-bottom: 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	text-align: center;
	text-transform: uppercase;

	color: $second-accent-color;

	@include desktop {
		text-align: start;
	}
}
.footer__form {
	width: 100%;		
	@include tablet {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
	@include desktop {
		margin-right: 0;
		width: 570px;
	}
}
.social-link--bcg {
	background-color: rgba(255, 255, 255, 0.1);
}
