.header {    
    border-bottom: 1px solid #ececec;    
}
.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
    color: $titel-text-color;

    @include tablet {
        padding-top: 26px;
        padding-bottom: 26px;
        margin-right: auto;
    }
    @include desktop {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
.nav {    
    @include centredFlex(flex, null, center);
        
}




