.hero {
	max-width: 1600px;
	padding-top: 118px;
	padding-bottom: 118px;
	margin-right: auto;
	margin-left: auto;

	background-color: #c4c4c4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/mobile-hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/mobile-hero@2x.jpg);
	}

	@include tablet {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/tablet-hero.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/tablet-hero@2x.jpg);
		}
	}

	@include desktop {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/desktop-hero.jpg);
		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/desktop-hero@2x.jpg);
		}

		padding-top: 200px;
		padding-bottom: 200px;
	}
}

.hero-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100%;
	text-align: center;

	@media screen and (min-width: 480px) {
		width: 360px;
	}

	@media screen and (min-width: 1200px) {
		width: 696px;
	}
}

.hero-title {
	display: inline-block;
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 30px;

	color: $second-accent-color;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.61;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	@media screen and (min-width: 1200px) {
		font-size: 44px;
		line-height: 1.36;
	}
}
