.hero {    
    max-width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .hero__container {
        display: block;
        width: 360px;
        text-align: center;        
    }

    .hero__title {
        display: inline-block;
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 30px;
        
        color: $second-accent-color;
        
        font-weight: 900;
        font-size: 26px;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}
