.hero {
    width: 480px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 480px) {
        width: 480px;        
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1600px;
    }
   
    .hero__container {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 360px;
        text-align: center;

        @media screen and (min-width: 1200px) {
            width: 696px;
        }
    }

    .hero__title {
        display: inline-block;
        width: 100%;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 30px;

        color: $second-accent-color;

        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
        }
    }
}
