.form {
    @include centredFlex(flex, null, null);
    .form__input {
        width: 358px;
        padding: 15px 16px;
        
        color: rgba(255, 255, 255, 0.6);
        
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        background-color: inherit;
    }
    .form__button {
        @include centredFlex(flex, center, center);
        
        margin-left: 12px;
        padding: 10px 28px;        
    }
}
.form__button--icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}