.menu-container {
    padding: 48px 40px;     
    background-color: $primery-bcg-color;
        
    &.is-open {
        display: block;
        z-index: 5;
        @include tablet {
            @include centredFlex(flex, null, center);
            padding: 0;            
        }
    }

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;        
    }
    @include tablet {
        @include centredFlex(flex, null, center);
        padding: 0;
    }
}