.menu-button {
	display: inline-block;
	margin-left: auto;
	background-color: transparent;
	border: none;
	z-index: 99;

	transition: fill $prime-animation $prime-transition-timing-function;

	@media screen and (min-width: 768px) {
		display: none;
	}
}
.menu-button__close {
	display: none;
}
.menu-button.is-open .menu-button__close {
	display: block;
}
.menu-button.is-open .menu-button__open {
	display: none;
}
.menu-button__close,
.menu-button__open {
	&:hover,
	&:focus {
		fill: $accent-color;
	}
}
