.menu-container {	
	padding: 48px 40px;
	&.is-open {
		display: block;		
		background-color: $primery-bcg-color;
		z-index: 5;
		@media screen and (max-width: 479px) {
			padding-bottom: 58px;
		}
		@media screen and (max-width: 767px) {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}		
		@include tablet {
			@include centredFlex(flex, null, center);
			padding: 0;
			z-index: 0;
		}
	}
	@media screen and (max-width: 767px) {
		display: none;
		position: fixed;		
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		max-height: 796px;
	}
	@include tablet {
		@include centredFlex(flex, null, center);
		padding: 0;
	}
}
