.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-titel {
    @extend %titel;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
}