.social-link {
   @include centredFlex(flex, center, center);
    width: 100%;
    height: 100%;

    color: $primery-icon-color;
    background-color: transparent;

    border-radius: 50px;

    transition: color $prime-transition-timing-function $prime-animation,
    background-color $prime-transition-timing-function $prime-animation;

    .social-link__icon {
        fill: currentColor;
    }

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $second-accent-color;
    }
}
.social-link__icon--white {
    color: $second-accent-color;
}