$primery-font-family: Roboto, sans-serif;
$second-font-family: Raleway, sans-serif;

$primery-bcg-color: #ffffff;
$primery-text-color: #757575;
$accent-color: #2196f3;
$second-accent-color: #ffffff;
$titel-text-color: #212121;
$primery-icon-color: rgba(175, 177, 184, 1);

$prime-animation: cubic-bezier(0.4, 0, 0.2, 1);
$prime-transition-timing-function: 250ms;